html,body { height:100%;
}

.page-container{
    position: relative;
    min-height: 95vh;
    padding-bottom: 3rem;
}
.top-header-block{
    background-color:grey;
    opacity:60%;
}

.top-header-button-block{
    display:flex;
    justify-content: flex-end;
}
.mainpage-header-greeting-box{
    display:flex;
    margin-left:20px;
    justify-content: flex-start;
}

.mainpage-logout-btn{
    margin-left:20px;
    margin:20px 10px;
    background:#f12d26;
    border: #5a1513 1px solid;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:4px;
    width:150px;
    font-weight:800;
    font-size:0.8em;
}
.mainpage-login-btn{
    margin:20px 10px;
    background:#2678f1;
    border: #133e5a 1px solid;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:4px;
    width:150px;
    font-weight:800;
    font-size:0.8em;
}

.mainpage-signup-btn{
    margin:20px 10px;
    background:#f12d26;
    border: #5a1513 1px solid;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:4px;
    width:150px;
    font-weight:800;
    font-size:0.8em;
}

.main-header{
    display:flex;
    flex-direction: column;
    background-image: url("./logos/1_5bc883c28a5ea.jpg");
    background-size: cover;
}

.main-header-heading{
    text-align:center;
    padding: 40px 0px;
    margin:30px;
    font-size:45px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


.mainpage-sidebar-wrapper{
    display:flex;
    margin-bottom: 100px;
}

.left-sidebar{
    width: 20%;
    float: left;
}

.right-sidebar{
    width: 20%;
    float: right;
}


.mainpage-main-box{
    width:60%;
    margin:0 auto;
}

.main-navigation{
    background:#649ff7;
    display:flex;
    justify-content: space-between;
    opacity:80%;
}

.mainpage-main-btn, .mainpage-news-btn, .mainpage-info-btn, .mainpage-connect-btn, .mainpage-profile-btn, .mainpage-vacancies-btn,.mainpage-createvacancy-btn,.mainpage-students-btn{
    background:transparent;
    margin:0px 0px;
    padding:25px 25px;
    border:0px;
    text-transform: uppercase;
    font-weight:800;
}

.mainpage-content-wrapper{
    background-color:#ddeaf0;
}

.mainpage-content{
    padding: 10px;
    display:flex;
    justify-content:space-between;
}

.mainpage-info-block{
    text-align:center;
}

.mainpage-logo-block{
    max-width:100%;
}
.mainpage-logo{
    display:inline-block;
    flex-shrink: 0;
}

.mainpage-content-heading{
    text-align:center;
}

.mainpage-info-paragraph{
    margin:16px 50px;
    text-align:justify;
    font-size:20px;
}

.mainpage-info-paragraph:after{
    text-align:justify;
}

.main-footer{
    background-color:grey;
    opacity:80%;
    display:flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom:0;
    height:3rem;
    
    
}

.mainpage-footer-text{
    color:black;
}


@media (max-width:450px) {
.main-header .top-header-block .mainpage-header-greeting-box .mainpage-logout-btn{
    width:60px;
    padding:0px;
}

.main-header .mainpage-header-greeting{
    font-weight:700;
    font-size:30px;
}

.main-header-heading{
    font-size:20px;
    padding:0px;
    color:white;
    -webkit-text-stroke: 0.25px black;
}

.mainpage-main-box{
    width:100%;
}
.main-navigation{
    background:#649ff7;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    opacity:80%;
    width:100%;
}

.main-navigation button{
    padding:10px 25px;
    border-bottom:#133e5a 1px solid;
}

 .left-sidebar, .right-sidebar{
    display:none;
}
.mainpage-sidebar-wrapper{
    margin-bottom: 0px;
}

.main-footer{
    height: auto;
}

.mainpage-content{
    flex-direction:column-reverse;
}

.mainpage-info-paragraph{
    margin:0px 0px 10px 0px;
}
     }