.news-block{
    border: #2980b9 1px solid;
}

.news-title{
    padding:0px 20px;
}

.news-photo-block{
    max-width:65%;   
}

.news-photo{
    padding:0px 20px;
    max-width:65%;   
}

.news-description{
    padding:0px 20px;
}