.studentspage-heading{
    text-align:center;
    margin-block-start: 0;
    padding-top:15px;
    padding-bottom:10px;
}

.studentspage-students-block{
    padding:10px;
}

.student-block{
    border:1px solid;
    display:inline-block;
    max-width:200px;
}

.studentspage-students-block{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.studentsphoto-container{
    min-width:200px;
    min-height:200px;
    background-image: url(Portrait_Placeholder.png);
    background-size: 100% 100%;
}

.studentsphoto-img{
    max-width:200px;
    max-height:200px;
}
.stud-p{
    padding:0px 5px;
}