.createvacancy-heading{
    text-align:center;
    margin-block-start: 0;
    padding-top:15px;
    padding-bottom:10px;
}

.createvacancy-input{
    margin-right:19%;
    background:white;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    width:250px;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}

.createvacancy-info{
    margin-left:20%;
}

.createvacancy-simple-info{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.createvacancy-photoinput{
    margin-right:19%;
    margin-top:16px;
}

.createvacancy-photoinput::-webkit-file-upload-button {
    visibility: hidden;
  }
  .createvacancy-photoinput::before {
    content: 'Загрузить фото';
    background:#649ff7;
    border: #2b456d 1px solid;
    opacity:60%;
    border-radius:4px;
    padding: 5px 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    width:150px;
    font-weight:800;
  }
  .createvacancy-photoinput:hover::before {
    border-color: black;
  }
  .createvacancy-photoinput:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .createvacancy-submit-button{
    margin-top:10px;
    margin-bottom:15px;
    background:#1e993d;
    border: #105321 1px solid;
    opacity:60%;
    border-radius:4px;
    padding: 5px 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    width:150px;
    font-weight:800;
  }

  .createvacancy-content-box{
      text-align:center;
  }