.profilepage-heading{
    margin-block-start:0;
    margin-block-end:0;
    padding-top:15px;
    padding-bottom:10px;
    text-align:center;
}

.profile-box{
    padding: 10px;
    display:flex;
    justify-content:space-around;
}

.profile-box-recruiter{
    padding: 10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.profilepage-photoblock{
    flex-direction:column;
}

.profilepage-logo-block{
    max-width:100%;
}

.profilepage-userimg{
    display:block;
    flex-shrink: 0;
    width:150;
    height:200px;
}

.profilepage-changephotobtn{
    position:bottom;
    margin:20px;
    background:#2ecc71;
    width:250px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;

    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
}

.profilepage-input-label{
    display:inline-block;
}
.profilepage-info-p{
    display:inline-block;
}

.profilepage-input-label-first{
    margin-block-start:0;
    display:inline-block;

}

.profilepage-upload-block{
    width:100%;
    text-align:center;
}

.profilepage-cancel-button{
    font-family: 'Roboto medium', sans-serif;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    min-width: 88px;
    margin-top:5px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    outline: 0;
    text-align:center;
    background:#f12d26;
    border: #5a1513 1px solid;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:4px;
    width:150px;
    font-weight:800;
    font-size:0.8em;
    opacity:75%;
}

.profile-input{
    background:white;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;

}


.profilepage-pendingvacancies-block{
    border: #000 2px solid;
    margin-bottom:10px;
    margin-top:10px;
}

.profilepage-verifiedvacancies-block{
    border: #000 2px solid;
}

.profilepage-firmlogo{
    max-width:150px;;
}

.profilepage-vacancy{
    border: grey 2px dotted;
    margin: 0px 10px 5px;
    padding:5px;
}

.remove-vacancy-button{
    margin:0px 10px;
    background:#f12d26;
    border: #5a1513 1px solid;
    opacity:60%;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:4px;
    width:150px;
    font-weight:800;
    font-size:0.8em;
}

.profilepage-change{
    background:#2ecc71;
    width:250px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;

    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
}